.base {
  border: 1px solid transparent;
  padding: 8px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color);
}

.base:hover {
  cursor: pointer;
}

.primary {
  background: var(--primary-button-color);
  border-color: var(--primary-button-color);
}

.primary:hover {
  background: var(--primary-hover-button-color);
  border-color: var(--primary-hover-button-color);
}

.default {
  border-color: #35363a;
  background: var(--bg-color);
}

.default:hover {
  border-color: #35363a;
  background: #292a2d;
}
