.mantine-EmptyState-root,
.mantine-Table-table .mantine-Table-tr .mantine-Table-th {
  user-select: none;
}

.mantine-Table-table .mantine-Table-tr .mantine-Table-td[role=button]:focus-visible {
  outline-color: var(--mantine-primary-color-filled);
  outline-offset: -2px;
}

.mantine-Table-table .mantine-Table-tr .mantine-Table-td[role=button] {
  cursor: pointer;
  user-select: none;
}