html, body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: black;
}

body > div,
body > div > main {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    background: black;
}

body > div > main {
    padding: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: auto;
}

.table-height {
    max-height: 200px;
    min-height: 200px;
    width: 100%;
}
